.logo span {
    font-size: 25px;
    text-transform: none;
}

.footer .logo span {
    font-size: 20px;
}

.logo_container {
    padding-left: 50px;
}

.hero_slider_nav i.fa {
    font-size: 20px;
}

.services .icon_container {
    height: 100px;
}

.footer {
    padding-top: 0;
}

div.testimonials_text p {
    color: #FFFFFF;
    margin-bottom: 0px;
}